*{
  margin: 0%;
  padding: 0%;
}
.inputarea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.inputarea input{
  display: block;
  width:25rem;
  height: 10rem;
  border-radius: 10px;
  outline: none;
}
 .btn{
  margin-top: 2rem;
  height: 2rem;
  width:7rem;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: lightblue;
  font-weight: 600;
}
.note{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  margin-left: 1rem;
}
.listitem{
  border: 1px solid rgb(201, 188, 188);
  background-color: azure;
  height: 5rem;
  width:20rem;
  border-radius:8px;
}
.note li{
  list-style: none;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.btn1{
  height: 2rem;
  width:7rem;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: lightblue;
  font-weight: 600;
  margin-left: 0.5rem;
}
.App{
  height: 100vh;
  width: 100vw;
}